{% extends "base1.html" %}
{%block 'content'%}
{%load  static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script type="text/javascript">
    function increment(data)
    {
        var result = document.getElementById(data);
        var num = parseInt(result.value);
        if(num<5)
        {
            num+=1;        
        }
        result.value =  num;
    }
    function decrement(data)
    {
        var result = document.getElementById(data);
        var num = parseInt(result.value);
        if(num>1)
        {
            num-=1;
        }        
        result.value =  num;
    }
</script>

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> 
        {{message}}
      </div>
    {% endfor %}
{% endif %}
<table class="table">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
        <th>Quantity</th>
        <th>SubTotal</th>
        <th> </th>
    </tr>
    {%for item in items%}
    <tr>
        <form method="post">
            {%csrf_token%}
        <td>{{item.ice_creame.chillin_name}}</td>
        
            <input type="hidden" name="cart_id" value="{{item.id}}" />
        <td>{{item.ice_creame.price}}</td>
        <td><img src="{{item.ice_creame.image.url}}" style="height:50px ; width:50px"></td>
        <td> <button type="button" class="button btn-warning" 
            onclick="decrement('qty{{item.ice_creame.id}}')" >-</button>
            <input type="text" id="qty{{item.ice_creame.id}}" name="qty" value="{{item.qty}}" readonly/>
        <button type="button" class="button btn-warning" 
            onclick="increment('qty{{item.ice_creame.id}}')" >+</button>
        </td>
        
        <td>{% widthratio item.ice_creame.price 1 item.qty %}</td>
        <td><button type="submit" class="button btn-success" name="action" value="update">Update</button>
            <button type="submit" class="button btn-success" name="action" value="remove">Remove</button></td>
        </tr>
    </form>
    {%endfor%}
 </table>
 <h1><b>Total :</b>{{request.session.total}}</h1>
 <h1><a class="pay" href="/MakePayment">Make Payment</a></h1>

 {%endblock 'content'%} 